#meals {
    margin-left: 0px;
}

#orders {
    margin-right: 0px;
}

ul {
    list-style: none;
}

.btns {
    color: #fff;
    padding: 10px 15px;
    border: solid 0px;
    border-radius: 25px;
    margin: 15px;
    cursor: pointer;
}

#submit {
    background-color: #2a91bd;
    margin-left: 30px;
}
#submit:disabled {
    background-color: #ccc;
}

#delete {
    background-color: rgb(173, 4, 4);
    margin-left: 30px;
}
#delete:disabled {
    background-color: #ccc;
}

#logout {
    background-color: gray;
    margin: auto;
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#meals-list li{
    cursor: pointer;
}
#orders-list li{
    cursor: pointer;
}

.selected {
    background-color: #eee;
}